.login_container.seal-module.seal-panel.panel.panel-default
  .panel-heading
    %h3.panel-title AuditControlEntry
  .panel-body
    .row
      .col-md-12
        %h4
          Please Enter Your Information
        %hr
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          .row
            .col-md-3
              %label Name
            .col-md-8
              = f.text_field :name, :placeholder => "Name", :required => true
            %br
            %br
          .row
            .col-md-3
              %label Email
            .col-md-8
              = f.text_field :email, :placeholder => "Email", :required => true
            %br
            %br
          .row
            .col-md-3
              %label Password
            .col-md-8
              = f.password_field :password, :placeholder => "Password", :required => true
            %br
            %br
          .row
            .col-md-3
              %label Password Confirmation
            .col-md-8
              = f.password_field :password_confirmation, :placeholder => "Password Confirmation", :required => true
            %br
            %br
          .row
            .col-md-3
              %label
            .col-md-7
              = f.submit 'Sign-Up',:id=>"sign_up_employee", class: "btn btn-default btn-info btn-sm pull-right", style: "margin-right:14px;"