= form_for @claim_audit_question, :html => {:class => "seal-form form-horizontal"} do |f|
  .seal-module.seal-panel.panel.panel-default.large
    .panel-heading
      %h3.panel-title ClaimAuditQuestions
    .panel-body
      .row
        .col-md-2
          %label Category:
        .col-md-3
          = select_tag "claim_audit_question[category]", options_for_select(ClaimAuditQuestion.all.map(&:category).uniq), :prompt => "Select", :id => "que_sel", :class => "form-control"
      %br
      .row
        .col-md-2
          %label Question:
        .col-md-4
          = f.text_area :question, :class => "normal aut_sz form-control", :style => "overflow: hidden; word-wrap: break-word; resize: none; height: 43px;"
      %br
      .sh_exp{:style => "display:none"}
        .row
          .col-md-2
            %label Min Expception:
          .col-md-4
            = f.text_field :min_exception
        %br
      .sh_exp{:style => "display:none"}
        .row
          .col-md-2
            %label Max Exception:
          .col-md-4
            = f.text_field :max_exception
        %br
      .row.sh_amt{:style => "display:none"}
        .col-md-2
          %label Min Amount:
        .col-md-4
          = f.text_field :min_amount
      = f.submit "Save", :class => "btn btn-default btn-sm btn-info pull-right"