= form_for @claim_audit_entry, :url => {:action => "confirm_data"} do |f|
  .seal-module.seal-panel.panel.panel-default.large
    .panel-heading
      %h3.panel-title Claim Audit Entry
    .panel-body
      %table
        %tr
          %td 
            %b
              Business Unit:
          %td
            = params[:business_unit]
            = hidden_field_tag "call_audit_entry[business_unit]", params[:business_unit]
        %tr
          %td 
            %b
              CSS:
          %td
            = params[:css]
            = hidden_field_tag "call_audit_entry[css]", params[:css]
        %tr
          %td 
            %b
              Call Date/Time:
          %td
            = params[:call_time]
            = hidden_field_tag "call_audit_entry[call_time]", params[:call_time]
        %tr
          %td 
            %b
              Reviewer:
          %td
            - if employee_signed_in?
              = "#{current_employee.first_name} #{current_employee.last_name}"
            = hidden_field_tag "call_audit_entry[reviewer]", "#{current_employee.first_name} #{current_employee.last_name}"
        %tr
          %td 
            %b
              Date Review:
          %td
            = Time.now.strftime("%d-%m-%Y")
            = hidden_field_tag "call_audit_entry[date_review]", Time.now.strftime("%d-%m-%Y")
        %tr
          %td 
            %b
              Call Type:
          %td
            = select_tag "call_audit_entry[call_type]", options_for_select([["Select One", ""], "Type1", "Type2"]), :class => "sel_ans form-control", :required => true
        %tr
          %td 
            %b
              Call Length:
          %td
            "fill"
            = hidden_field_tag "call_audit_entry[call_length]", "fill"

    .adm_com.panel-body
      %table.table
        %tr
          %th Category
          %th Grade 1 – 5
          %th Notes
        - tab=0
        - questions =['Introduction','Description of Process','Call to Action','General Demeanor','Addressing Concerns']
        - questions.each do |question|
          -tab +=1
          %tr
            %td
              = question
              = hidden_field_tag "[question]", question
            %td
              = select_tag "[answer][#{tab}]", options_for_select([["Select One", ""], "1", "2", "3", "4", "5"]), :class => "call_sel_ans form-control", :required => true
            %td.note_text
              = text_area_tag "[notes][#{tab}]", "", :class => "note_text_area normal aut_sz form-control", :style => "overflow: hidden; word-wrap: break-word; resize: none; height: 43px;"
    = f.submit "Confirm", :class => "btn btn-default btn-sm btn-info pull-right", :id => "sh_btn"
           
