.seal-module.seal-panel.panel.panel-default.large
  .panel-heading
    %h3.panel-title ClaimAwaitingAudits
  .col-md-2.pull-right
    %label
      %h3{:style => "margin-top:9px;margin-bottom:7px;"} Action
    = link_to "Upload", "#upload_list", :role => "button", :class => "btn btn-info btn-small pull-right", :style => "margin-top:7px;margin-bottom:7px;", "data-toggle" => "modal", :id => "modal_csv"
  
  .panel-body
    %table.table.table-pointer.table-striped.table-bordered.table-hover.span10
      %tr
        %th Claim#
        %th I/C
        %th Carrier
        %th Severity
        %th Time
        %th Date
        %th Estimator
      
      - @claim_awaiting_audits.each do |claim_awaiting_audit|
        %tr{:onclick => "window.location.href='#{new_claim_audit_entry_path(:claim_awaiting_id => claim_awaiting_audit.id)}'"}
          %td
            = claim_awaiting_audit.claim_number
          %td
            = claim_awaiting_audit.claim_type
          %td
            = claim_awaiting_audit.carrier_branch.name
          %td
            - unless claim_awaiting_audit.severity.blank?
              = "$ #{ number_with_precision(claim_awaiting_audit.severity, precision: 2)}"
          %td
            = claim_awaiting_audit.duration_net
          %td
            = claim_awaiting_audit.estimate_date.strftime('%m-%d-%Y')
          %td
            - unless claim_awaiting_audit.estimator.blank?
              = "#{claim_awaiting_audit.estimator.first_name} #{claim_awaiting_audit.estimator.last_name}"

  
  .pull-right
    = will_paginate @claim_awaiting_audits

#upload_list.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Upload Awaiting Claims
      .modal-body
        = form_for ClaimAwaitingAudit.new, :url =>{:action => "upload_csv"}, :multipart => true do |f|
          = f.file_field "file"
          = f.submit "Submit", :class => "btn btn-default btn-sm btn-info pull-right"
          %br