.row
  .col-md-4
    %h1
      ClaimAwaitingAudits
  
%table.table.table-pointer.table-striped.table-bordered.table-hover.span10
  %tr
    %th Claim No.
    %th Claim Type
    %th Carrier
    %th Severity
    %th Time
    %th Date
    %th Estimator
  
  - @claim_awaiting_audits.each do |claim_awaiting_audit|
    %tr{:onclick => "window.location.href='#{new_claim_audit_entry_path(:c_num => claim_awaiting_audit.claim_number, :claim_awaiting_id=>claim_awaiting_audit.id,:c_type => claim_awaiting_audit.claim_type, :carrier => claim_awaiting_audit.carrier_branch.id,:estimate_date=>claim_awaiting_audit.created,:employee_id=>claim_awaiting_audit.employee_id,:duration_net=>claim_awaiting_audit.duration_net ,:total => claim_awaiting_audit.severity)}'"}
      %td
        = claim_awaiting_audit.claim_number
      %td
        = claim_awaiting_audit.claim_type
      %td
        = claim_awaiting_audit.carrier_branch.name
      %td
        = "$#{claim_awaiting_audit.severity}"
      %td
        = claim_awaiting_audit.duration_net
      %td
        = claim_awaiting_audit.estimate_date
      %td
        - unless claim_awaiting_audit.estimator.blank?
          = "#{claim_awaiting_audit.estimator.first_name} #{claim_awaiting_audit.estimator.last_name}"

.pull-right
  = will_paginate @claim_awaiting_audits
