%h1
  ClaimAwaitingAudits
%table.table.table-pointer.table-striped.table-bordered.table-hover.span10
  %tr
    %th Claim No.
    %th Claim Type
    %th Carrier
    %th Severity
    %th Time
    %th Date
    %th Estimator
  
  - @claim_awaiting_audits.each do |claim_awaiting_audit|
    %tr{:onclick => "window.location.href='#{new_claim_audit_entry_path(:c_num => claim_awaiting_audit.claim_number, :c_type => claim_awaiting_audit.claim_type, :carrier => find_branch_name(claim_awaiting_audit.carrier_branch_id), :total => claim_awaiting_audit.severity)}'"}
      %td
        = claim_awaiting_audit.claim_number
      %td
        = claim_awaiting_audit.claim_type
      %td
        = find_branch_name(claim_awaiting_audit.carrier_branch_id)
      %td
        = "$#{claim_awaiting_audit.severity}"
      %td
        = claim_awaiting_audit.duration_net
      %td
        = claim_awaiting_audit.loss
      %td
        = ""