.seal-module.seal-panel.panel.panel-default.large
  .panel-heading
    %h3.panel-title Claim Audit Entry
  .panel-body
    %table{style:"width:35%;"}
      %tr
        %td
          %b
            Time Period
        %td
          %span{style:"margin-left:4px;"} From:
          = Date.parse(@from_date).strftime('%m/%d/%Y') 
          %span{style:"margin-left:10px;"} To:
          = Date.parse(@to_date).strftime('%m/%d/%Y')
      %tr
        %td
          %b
            Estimator:
        %td
          = estimitor_find params[:estimator]
      %tr
        %td
          %b
            Carrier:
        %td
          = carrier_name_find params[:carrier]
    - if @claim_audit_entries.count > 0
      .well{:style => "background:white"}
        %h4
          %b Summary
        .row
          .col-md-4
            %table{cellpadding:"5"}
              %tr
                %td
                  %b
                    Count:
                %td
                  = @claim_audit_entries.count
              %tr
                %td
                  %b
                    Avg Severity:
                %td
                  - amt = severity @claim_audit_entries
                  = " $ #{number_with_precision(amt, precision: 2)}"
              %tr
                %td
                  %b
                    Avg Time:
                %td
                  - avg_time = average_time @claim_audit_entries
                  = number_with_precision(avg_time, precision: 1)
          .col-md-4
            %table{cellpadding:"5"}
              %tr
                %td
                  %b
                    Adm Exc % Avg:
                %td
                  - avg_exp_adm = average_exp_admin @claim_audit_entries
                  = " #{number_with_precision(avg_exp_adm, precision: 1)} %"
              %tr
                %td
                  %b
                    Com Exc % Avg:
                %td
                  - avg_exp_com = average_exp_com @claim_audit_entries
                  = " #{number_with_precision(avg_exp_com, precision: 1)} %"
              %tr
                %td
                  %b
                    Leakage % Avg:
                %td
                  - avg_leakage=avg_leakage @claim_audit_entries
                  = " #{number_with_precision(avg_leakage,precision:1)} %"
              %tr
                %td
                  %b
                    Total Exc% Avg:
                %td
                  = " #{number_with_precision(avg_exp_adm.to_f + avg_exp_com.to_f + avg_leakage.to_f,precision:1)} %"
          .col-md-4
            %table{cellpadding:"5"}
              %tr
                %td
                  %b
                    Avg Leakage Over
                %td
                  - avg_leakage_over=avg_leakge_over @claim_audit_entries
                  = " $ #{number_with_precision(avg_leakage_over,precision:1)}"
              %tr
                %td
                  %b
                    Avg Leakage Under
                %td
                  - avg_leakage_under=avg_leakge_under @claim_audit_entries
                  = " $ #{number_with_precision(avg_leakage_under,precision:1)}"
              %tr
                %td
                  %b
                    Avg Leakage Amount
                %td
                  = " $ #{number_with_precision(avg_leakage_over.to_f + avg_leakage_under.to_f,precision:1)}"
    %hr/
    %table.table.table-pointer.table-striped.table-bordered.table-hover#sort_cols
      %thead
        %tr
          %th Claim No.
          %th Claim Type
          %th Carrier
          %th Severity
          %th Time
          %th Adm
          %th Comp
          %th Est
          %th Total
          %th Leak
    
      %tbody
        - @claim_audit_entries.each do |claim_audit_entry|
          %tr{:onclick => "window.location.href='#{claim_audit_entry_path(claim_audit_entry)}'",:class=>"to_click_in_test"}
            %td
              = claim_audit_entry.claim
            %td
              = "#{claim_audit_entry.claim_awaiting_audit.claim_type}"
            %td
              = claim_audit_entry.carrier_branch.name
            %td
              - unless claim_audit_entry.claim_awaiting_audit.severity.blank?
                = "$ #{number_with_precision(claim_audit_entry.claim_awaiting_audit.severity, precision: 2)}"
            %td
              = "#{claim_audit_entry.claim_awaiting_audit.duration_net}"
            %td
              = "#{claim_audit_entry.admin_score}"
            %td
              = "#{claim_audit_entry.compliance_score}"
            %td
              = "#{claim_audit_entry.estimating_score}"
            %td
              = "#{claim_audit_entry.overall_score}"
            %td
              = "#{claim_audit_entry.leakage_amount}"
