.seal-module.seal-panel.panel.panel-default.large
  .panel-heading
    %h3.panel-title Claim Audit Entry
  .panel-body
    %table{style:"width:35%;"}
      %tr
        %td
          %b
            Time Period
        %td
          %span{style:"margin-left:4px;"} From:
          = Date.parse(params[:from_date]).strftime('%m-%d-%Y') 
          %span{style:"margin-left:10px;"} To:
          = Date.parse(params[:to_date]).strftime('%m-%d-%Y')
      %tr
        %td
          %b
            Estimator:
        %td
          = estimitor_find params[:estimator]
      %tr
        %td
          %b
            Carrier:
        %td
          = carrier_name_find params[:carrier]
      %tr
        %td
          %b
            Count:
        %td
          = @claim_audit_entry.count
      %tr
        %td
          %b
            Severity:
        %td
          - amt = severity @claim_audit_entry
          = "$ #{number_with_precision(amt, precision: 2)}"
      %tr
        %td
          %b
            Average time:
        %td
          - avg_time = average_time @claim_audit_entry
          = number_with_precision(avg_time, precision: 1)
    %hr/
    %table.table.table-pointer.table-striped.table-bordered.table-hover
      %tr
        %th Claim No.
        %th Claim Type
        %th Carrier
        %th Severity
        %th Time
        %th Adm
        %th Comp
        %th Est
        %th Total
        %th Leak
    
      - @claim_audit_entry.each do |claim_audit_entry|
        %tr{:onclick => "window.location.href='#{estimator_claim_audit_list_show_saved_audit_estimate_path(:c_num => claim_audit_entry.claim)}'"}
          %td
            = claim_audit_entry.claim
          %td
            = "#{claim_audit_entry.claim_type}"
          %td
            = claim_audit_entry.carrier_branch.name
          %td
            - unless claim_audit_entry.severity.blank?
              = "$ #{number_with_precision(claim_audit_entry.severity, precision: 2)}"
          %td
            = "#{claim_audit_entry.duration_net}"
          %td
            = "#{claim_audit_entry.admin_score}"
          %td
            = "#{claim_audit_entry.compliance_score}"
          %td
            = "#{claim_audit_entry.estimating_score}"
          %td
            = "#{claim_audit_entry.overall_score}"
          %td
            = "#{claim_audit_entry.leakage_amount}"
