.seal-module.seal-panel.panel.panel-default.large
  .panel-heading
    %h3.panel-title Claim Audit Score Review
  .panel-body
    %table{:style=>"width:35%!important;"}
      %tr
        %td 
          %b
            Estimator
        %td
          - unless !@estimator.present?
            = @estimator
            = hidden_field_tag "claim_audit_entry[estimator]", @estimator
      %tr
        %td
          %b
            Claim
        %td
          = @claim
          = hidden_field_tag "claim_audit_entry[claim]", @claim
      %tr
        %td 
          %b
            Carrier
        %td
          = @carrier
      %tr
        %td
          %b
            Estimate Date
        %td
          = @estimate_date
      %tr
        %td
          %b
            Reviewer
        %td
          - unless !@reviewer.present?
            = @reviewer
      %tr
        %td
          %b
            Estimate Total
        %td
          = @total
    
    - unless @claim_audit_entry.blank?
      .adm_com
        %table.table
          %tr
            %th Question
            %th Answer
            %th Exception
            %th Notes
          - @admin_comp_answer.each do |questions|
            %tr
              %td
                %b
                  = questions[0]
            - questions[1].each_with_index do |admin_answer,i|
              %tr
                %td
                  = @adm_questions[i]
                %td
                  = admin_answer.answer 
                %td
                  - if !admin_answer.exception.blank?
                    = admin_answer.exception
                    = "%"
                %td
                  = admin_answer.note
        = link_to "Next", "#", :class => "btn btn-mini btn-info pull-right", :id => "hd_add"
      
      .est_dec{style:"display:none;"}
        %table.table
          %tr
            %th Question
            %th Answer
            %th Impact
            %th Amount
            %th Notes
          %tr
            %td
              %b
                = @est_headers[0]
            - @est_answer.each_with_index do |answer, i|
              %tr
                %td
                  = @est_questions[i]
                %td
                  = answer.answer
                %td
                  = answer.indicator
                %td
                  = answer.amount
                %td
                  = answer.note
        = link_to "Prev", "#", :class => "btn btn-mini btn-success", :id => "prev_ll"
        = link_to "Summary", "#", :class => "btn btn-mini btn-info pull-right", :id => "sum_sh"
      
      .sh_sum.well{:style => "background:white; width:319px;display:none; margin-left:30%;"}
        %table{style:"width:100%;"}
          %tr
            %td Administration Exception Percent
            %td
              = "#{@adm_exception} %"
              = hidden_field_tag "claim_audit_entry[admin_score]", @adm_exception
          %tr
            %td Compliance Exception Percent
            %td
              = "#{@com_exp} %" if @com_exp
              = hidden_field_tag "claim_audit_entry[compliance_score]", @com_exp
          %tr
            %td Estimation Exception:
          %tr
            %td - Leakage Over Amount
            %td
              = "$ #{@over}"
          %tr
            %td - Leakage Under Amount
            %td
              = "$ #{@under}"
          %tr
            %td - Leakage Percent (Exception)
            %td
              - leakage_percent = number_with_precision(((@over + @under)/@total.to_f) * 100, precision: 2)
              = "#{leakage_percent} %"
              = hidden_field_tag "claim_audit_entry[estimating_score]", leakage_percent
          %tr
            %td Total Leakage Amount
            %td
              = "$ #{@over + @under}"
              = hidden_field_tag "claim_audit_entry[leakage_amount]", "#{@over + @under}"
          %tr
            %td
              %b
                Total Audit Exception
            %td
              - total = number_with_precision(@adm_exception.to_f + @com_exception.to_f + leakage_percent.to_f, :precision => 2)
              = "#{total} %"
              = hidden_field_tag "claim_audit_entry[overall_score]", total
        %br/
        %br
        %label 
          %b
            Comment
        %textarea#comment_added{name: "comment_added",style:"width: 258px; height: 77px;",disabled:"disabled",placeholder:"Add a comment here"}
        %a{:class => "btn btn-small btn-info pull-right", :id => "comment_btn", :style => "position: absolute; right: 100px;display:none;"} Comment History 
      .comment_block{:style => "background:white; width:100%;display:none;"}
        %h3{:style=>"text-align:center;"} Comment History
        %table{style:"width: 100%;",class:"table"}
          %th Date
          %th Author
          %th Role
          %th Comment
          - @comments.each do |comment|
            %tr
              %td
                = comment.created_at.strftime('%Y-%m-%d')
              %td
                =""
              %td
                =""
              %td{style:"width:40%!important"}
                %span{style:"overflow: hidden; word-wrap: break-word;"}
                  = comment.comment
        %br/
        %br/
        = form_tag(estimator_claim_audit_list_comment_history_path, :method => :post) do
          %div{style:"text-align:center;"} 
            %b
              Comment
          = hidden_field_tag "claim_id",@claim_audit_entry.id
          %div{style:"width: auto; padding-left: 35%;"}
            %textarea#comment_new_review{name: "comment_new_review",style:"width: 288px; height: 77px;",placeholder:"Add a comment here"}
            %br
            %div{style:"width:288px;"}
              = link_to "Prev", "#", :class => "btn btn-mini btn-success", :id => "prev_from_comment_history"
              = submit_tag "Update", :class => "btn btn-mini btn-info pull-right"