= form_for @claim_audit_entry, :url => {:action => "confirm_data"}, :method => "post", :html => {:id => "in_fo"} do |f|
  .seal-module.seal-panel.panel.panel-default.large
    .panel-heading
      %h3.panel-title New Claim Audit Entry
    .panel-body
      %table{style:"width:35%;"}
        %tr
          %td 
            %b
              Estimator:
          %td
            = estimitor_find(@claim_awaiting_audit.employee_id)
            = hidden_field_tag "estimator", @claim_awaiting_audit.employee_id
        %tr
          %td 
            %b
              Claim#:
          %td
            = "#{@claim_awaiting_audit.claim_number} #{@claim_awaiting_audit.claim_type}"
            = hidden_field_tag "claim", @claim_awaiting_audit.claim_number
            = hidden_field_tag "claim_type", @claim_awaiting_audit.claim_type
            = hidden_field_tag "claim_awaiting_id", @claim_awaiting_audit.id
        %tr
          %td 
            %b
              Carrier:
          %td
            = carrier_name_find(@claim_awaiting_audit.carrier_branch_id)
            = hidden_field_tag "carrier", @claim_awaiting_audit.carrier_branch_id
        %tr
          %td 
            %b
              Estimate Date:
          %td
            - estimate_date = @claim_awaiting_audit.estimate_date.strftime('%m/%d/%Y')
            = estimate_date
            = hidden_field_tag "estimate_date", estimate_date
        %tr
          %td 
            %b
              Reviewer:
          %td
            - if employee_signed_in?
              = "#{current_employee.first_name} #{current_employee.last_name}"
            = f.hidden_field :review, :value=>Date.today
        %tr
          %td 
            %b
              Estimate Total:
          %td
            = "$ #{ number_with_precision(@claim_awaiting_audit.severity, precision: 2)}"
            = "in #{@claim_awaiting_audit.duration_net} min"
            = hidden_field_tag "total", @claim_awaiting_audit.severity
            = hidden_field_tag "duration_net", @claim_awaiting_audit.duration_net
      
      - tab = 0
      - row = 0
    .adm_com.panel-body
      %table.table
        %tr
          %th Question
          %th Answer
          %th Exception (%)
          %th Notes
        - @questions1.each do |questions|
          - tab +=1
          %tr
            %td
              %b
                = questions[0]
          - questions[1].each do |question|
            - row += 1
            %tr
              %td
                = question.question
                = hidden_field_tag "#{tab}[#{row}][question]", question.question
              %td
                = select_tag "#{tab}[#{row}][answer]", options_for_select([["Select One", ""], "Yes", "No","n/a"]), :class => "sel_ans form-control",:title=>"Please select an item in the list!", :required => true
              %td
                = select_tag "#{tab}[#{row}][exception]", options_for_select(select_range(question)), :prompt => "Select", :title=>"Please select an item in the list!",:class => "form-control"
              %td
                = text_area_tag "#{tab}[#{row}][notes]", "", :class => "normal aut_sz form-control note_text_first",:title=>"Please enter the note!", :style => "overflow: hidden; word-wrap: break-word; resize: none; height: 43px;"
      = link_to "Next", "#", :class => "btn btn-default btn-sm btn-info pull-right", :id => "hd_ad"
      %br
      %br
    
    .est_dec.panel-body{:style => "display:none;"}
      %table.table
        %tr
          %th Question
          %th Answer
          %th Impact
          %th Amount ($)
          %th Notes
        - @questions2.each do |questions|
          - tab += 1
          %tr
            %td
              %b
                = questions[0]
          - questions[1].each do |question|
            - row += 1
            %tr
              %td
                = question.question
                = hidden_field_tag "#{tab}[#{row}][ext_question]", question.question
              %td
                = select_tag "#{tab}[#{row}][ext_answer]", options_for_select([["Select One", ""], "Yes", "No","n/a"]), :class => "sel_est form-control"
              %td
                = select_tag "#{tab}[#{row}][impact]", options_for_select([["Select One", ""], "Over", "Under"]), :class => "form-control"
              %td
                = text_field_tag "#{tab}[#{row}][amount]", "",:class => "check_min_amt"
                = hidden_field_tag "set_min_amt", select_range(question)
              %td
                = text_area_tag "#{tab}[#{row}][ext_notes]", "",  :class => "normal aut_sz form-control note_text_second", :style => "overflow: hidden; word-wrap: break-word; resize: none; height: 43px;"
      = link_to "Prev", "#", :class => "btn btn-default btn-sm btn-success", :id => "sh_ad"
      = f.submit "Update", :class => "btn btn-default btn-sm btn-info pull-right", :id => "su_btn"
