%h1 Claim Audit Entry
= form_for @claim_audit_entry do |f|
  .well-lg{:style => "background:white"}
    %a#go_back_to_edit{class:"btn btn-mini btn-info pull-right"} Edit
    %table
      %tr
        %td Estimator
        %td
          = estimitor_find(@estimator)
          = hidden_field_tag "claim_audit_entry[estimator]", @estimator
      %tr
        %td Claim
        %td
          = @claim
          = hidden_field_tag "claim_audit_entry[claim]", @claim
      %tr
        %td Carrier
        %td
          = carrier_name_find(@carrier)
          = hidden_field_tag "claim_audit_entry[carrier_branch_id]", @carrier
      %tr
        %td Estimate Date
        %td
          = @estimate_date
          = hidden_field_tag "claim_audit_entry[estimate_date]", @estimate_date
      %tr
        %td Reviewer
        %td
          - if employee_master_signed_in?
            = current_employee_master.name
          = hidden_field_tag "claim_audit_entry[review]", @review_date
      %tr
        %td Estimate Total
        %td
          = @total
          = hidden_field_tag "claim_audit_entry[severity]", @total
    
    = hidden_field_tag "adm_que", @admin_answer.to_json
    = hidden_field_tag "com_que", @comp.to_json
    = hidden_field_tag "est_que", @est.to_json
    
    .adm_com
      %table.table
        %tr
          %tr
            %th Question
            %th Answer
            %th Exception
            %th Notes
          %tr
            %td
              %b
                = @adm_headers[0]
          - @admin_answer.each_with_index do |ques, i|
            %tr
              %td
                = ques[1][:question]
              %td
                = ques[1][:answer]
              %td
                = ques[1][:exception]
              %td
                = ques[1][:notes]
          %tr
            %td
              %b
                = @adm_headers[1]
          - @comp.each_with_index do |ques, i|
            %tr
              %td
                = ques[1][:question]
              %td
                = ques[1][:answer]
              %td
                = ques[1][:exception]
              %td
                = ques[1][:notes]
      = link_to "Next", "#", :class => "btn btn-default btn-sm btn-info pull-right", :id => "hd_add"
      %br
    
    .est_dec{:style => "display:none;"}
      %table.table
        %tr
          %th Question
          %th Answer
          %th Impact
          %th Amount
          %th Notes
        %tr
          %td
            %b
              = @est_headers[0]
          - @est.each_with_index do |ques, i|
            %tr
              %td
                = ques[1][:ext_question]
              %td
                = ques[1][:ext_answer]
              %td
                = ques[1][:impact]
              %td
                = ques[1][:amount]
              %td
                = ques[1][:ext_notes]
      = link_to "Prev", "#", :class => "btn btn-default btn-sm btn-success", :id => "sho_ad"
      = link_to "Summary", "#", :class => "btn btn-default btn-sm btn-info pull-right", :id => "sum_sh"
    
    .sh_sum.well-lg{:style => "background:white; width:319px; margin-left:30%; display:none"}
      %table{style:"width:100%;"}
        %tr
          %td Administration Exception Percent
          %td
            = "#{@adm_exception} %"
            = hidden_field_tag "claim_audit_entry[admin_score]", @adm_exception
        %tr
          %td Compliance Exception Percent
          %td
            = "#{@com_exception} %" if @com_exception
            = hidden_field_tag "claim_audit_entry[compliance_score]", @com_exception
        %tr
          %td Estimation Exception:
        %tr
          %td - Leakage Over Amount
          %td
            = "$ #{@over}"
        %tr
          %td - Leakage Under Amount
          %td
            = "$ #{@under}"
        %tr
          %td - Leakage Percent (Exception)
          %td
            - leakage_percent = number_with_precision(((@over + @under)/@total.to_f) * 100, precision: 2)
            = "#{leakage_percent} %"
            = hidden_field_tag "claim_audit_entry[estimating_score]", leakage_percent
        %tr
          %td Total Leakage Amount
          %td
            = "$ #{@over + @under}"
            = hidden_field_tag "claim_audit_entry[leakage_amount]", "#{@over + @under}"
        %tr
          %td
            %b
              Total Audit Exception
          %td
            - total = number_with_precision(@adm_exception.to_f + @com_exception.to_f + leakage_percent.to_f, :precision => 2)
            = "#{total}%"
            = hidden_field_tag "claim_audit_entry[overall_score]", total
      %br/
      %br
      %label 
        %b
          Comment
      %textarea#comment_added{name: "comment_added",style:"width: 288px; height: 77px;",placeholder:"Add a comment here"}
    = f.submit "Confirm", :class => "btn btn-small btn-info pull-right", :id => "sh_btn", :style => "display:none;"