<p id="notice"><%= notice %></p>

<p>
  <strong>Reviewer:</strong>
  <%= @claim_audit_entry.reviewer %>
</p>

<p>
  <strong>Review:</strong>
  <%= @claim_audit_entry.review %>
</p>

<p>
  <strong>Claim:</strong>
  <%= @claim_audit_entry.claim %>
</p>

<p>
  <strong>Estimator:</strong>
  <%= @claim_audit_entry.estimator %>
</p>

<p>
  <strong>Overall score:</strong>
  <%= @claim_audit_entry.overall_score %>
</p>

<p>
  <strong>Admin score:</strong>
  <%= @claim_audit_entry.admin_score %>
</p>

<p>
  <strong>Compliance score:</strong>
  <%= @claim_audit_entry.compliance_score %>
</p>

<p>
  <strong>Estimating score:</strong>
  <%= @claim_audit_entry.estimating_score %>
</p>

<p>
  <strong>Leakage amount:</strong>
  <%= @claim_audit_entry.leakage_amount %>
</p>

<%= link_to 'Edit', edit_claim_audit_entry_path(@claim_audit_entry) %> |
<%= link_to 'Back', claim_audit_entries_path %>
