!!!
%html
  %head
    %title AuditControlEntry
    = stylesheet_link_tag    "application","jquery-ui", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag
  %body.claims.show
    %header.navbar.navbar-inverse.navbar-fixed-top.seal-navbar{role: "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".seal-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"}
            %img{alt: "Ss_logo", src: "/assets/ss_logo.png"}/
        %nav.collapse.navbar-collapse.seal-navbar-collapse{role: "navigation"}
          %ul.nav.navbar-nav.seal-navbar-nav
            %li.home.active
              %a{href: "/"}
                %div
                  %span.glyphicon.glyphicon-home
          .navbar.navbar-nav.navbar-right.seal-navbar-nav-right
            .seal-user-profile
              .row
                .col-md-3
                  %span.glyphicon.glyphicon-user.avatar{alt: "testing", height: "32", src: "nyi.png", width: "32"}
                .col-md-9
                  .dropdown
                    - name = employee_master_signed_in? ? current_employee_master.name : "Action"
                    .title "#{name}"
                    %a.dropdown-trigger{"data-toggle" => "dropdown", href: "#"}
                      %span.name
                      %b.caret
                    %ul.dropdown-menu{"aria-labelledby" => "dropdownUserProfile", role: "menu"}
                      - if employee_master_signed_in?
                        %li
                          = link_to "Log-Out", destroy_employee_master_session_path, :method => :delete
                      -  unless employee_master_signed_in?
                        %li
                          = link_to "Sign-Up", new_employee_master_registration_path
                      -  unless employee_master_signed_in?
                        %li
                          = link_to "Sign-In", new_employee_master_session_path
    - if flash.present?
      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert"} x
          = flash[:notice].html_safe
      - if flash[:danger]
        .alert.alert-danger
          %button.close{"data-dismiss" => "alert"} x
          = flash[:danger].html_safe
      - if flash[:alert]
        .alert.alert-error
          %button.close{"data-dismiss" => "alert"} x
          = flash[:alert].html_safe
    .row
      - if employee_master_signed_in?
        .col-md-2
          #estimate-sidebar.seal-module.secondary
            .seal-panel.panel.panel-default.panel-estimate
              .panel-heading
                %h3.panel-title Content
              .panel-body
                .row
                  .col-md-12
                    = link_to "Awaiting Audits", claim_awaiting_audits_path,{:id=>"claim_awaiting_audit"}
                %hr/
                .row
                  .col-md-12
                    %a{:style=>"cursor:pointer;",:id=>"Main_claim_audit_list"} Estimator Claims List
                %hr/                
                - if current_employee_master.is_admin?
                  .row
                    .col-md-12
                      = link_to "Audit Questions", claim_audit_questions_path,:id=>"claim_audit_question_btn"
      .col-md-10
        = yield
