!!!
%html
  %head
    %title AuditControlEntry
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      .navbar-inner
        .pull-right
          %a{:style=>"color:white!important;padding-right: 10px;cursor:pointer;",:id=>"Main_claim_audit_list"} Estimator Claims Audit List
    .clearfix#main-content
      .clearfix#page-content
        = render "flash", flash: flash
        = yield